@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiBearKingdom.Models.Product

<html>
<head>
    <title>Gummi Bear Kingdom - Delete</title>
</head>
<body>
    <div class="container delete-page">

        <h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h2>
        <hr />
        @using (Html.BeginForm())
        {
            <input class="btn btn-lg btn-default" type="submit" value="DELETE" />
        }
    </div>
</body>
</html>