@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<GummiBearKingdom.Models.Product>

<html>
<head>
    <title>Gummi Bear Kingdom - Products</title>
</head>
<body>
    <div>
        <div>
            <img class="product-img" src="~/images/header.jpg" />
            <h2 class="product-title">OUR PRODUCTS</h2>
        </div>


        <div class="row container-fluid list-section">
            @foreach (var listProduct in Model)
            {
                <div class="product-individual col-sm-6">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">@Html.DisplayFor(modelProduct => listProduct.Name)</h3>
                            <button class="button3 btn btn-default btn-lg">@Html.ActionLink("Details", "Details", new { id = listProduct.ProductId })</button>
                        </div>
                    </div>
                </div>
            }
        </div>

        <button class="button-add btn btn-default btn-lg">@Html.ActionLink("Add a New Product", "Create")</button>
    </div>
</body>
</html>