<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">THE GUMMI BEAR KINGDOM</a>
            </div>

            <ul class="nav navbar-nav pull-right">
                <li><a href="/Products/Create">ADD A PRODUCT</a></li>
                <li><a href="/Products">SHOP</a></li>
                <li><a href="/Products">ABOUT US</a></li>
            </ul>
        </div> 
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
