.gummy {
    width: 100%;
    margin-top: -60px;
}

body {
    font-family: 'Raleway', sans-serif;

}

.gummy2 {
    width: 100%;
    margin-top: -80px;
}

.navbar-header {
    font-weight: bold;
}

.navbar li {
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
}

.section2 {
    text-align: center;
    margin-top: 200px;
    background-color: white;
    height: 350px;
    width: 100%;
}

.product-list {
    text-align: center;
    margin-top: 180px;
    background-color: white;
    height: 350px;
    width: 100%;
}

.about {
    margin-top: 60px;
}

.button1 {
    margin: 40px;
    background-color: lightgrey;
    padding: 20px;
}


.title {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: -340px;
    font-size: 60px;
}

.about2 {
    font-weight: bold;
}

.welcome {
    font-size: 40px;
}


body {
    margin-bottom: 80px;
    background-color: lightgrey;
}

.section3 {
    margin-top: 150px;
}

.text {
    background-color: white !important;
    margin-top: -20px;
    text-align: center;
    height: 300px;
}

.button2 {
    background-color: lightgrey;
    margin-top: 40px;
    padding: 20px;
}


.product-img {
    width: 100%;
    margin-top: -60px;
}

.product-title {
    text-align: center;
    color: white;
    margin-top: -200px;
    font-size: 60px;
    font-weight: bold;
}

.list-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: white;
}

.card-title {
    font-weight: bold;
    color: darkred;
    font-size: 30px;
    margin-bottom: 20px;
}

.product-individual {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.button-add {
    margin-top: 200px;
    margin-left: 5%;
}

.add-form {
    text-align: center;
    margin-top: 70px;
}

.edit-form {
    text-align: center;
    margin-top: 70px;
}

.details {
    text-align: center;
    margin-top: 70px;
}

.delete-page {
    text-align: center;
    margin-top: 70px;
}

.product-name {
    color: darkred;
}