@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Gummi Bear Kingdom</title>
</head>
<body>
    <div>
        <img class="gummy" src="~/images/gummy.jpg">
        <h1 class="title"><span class="welcome">WELCOME TO<br /></span> THE GUMMI BEAR KINGDOM</h1>
    </div>

    <div class="container-fluid section2">
    <h1 class="about">See the Gummi Bear Kingdom's Products.</h1>
        <h3 class="about2">SWEET. DELICIOUS. AND IRRESISTIBLE. </h3>
    <button class="btn btn-default btn-lg button1">@Html.ActionLink("VIEW PRODUCTS", "Index", "Products")</button>
        </div>


    <div class="container section3">
        <img class="gummy2" src="~/images/giant.jpg">
        <div class="text">
            <br />
            <br />
            <h1 class="section3-text">The Orange Teddy.</h1>
            <h3>A CUSTOMER FAVORITE. TASTES LIKE A REAL ORANGE.</h3>
        <button class="btn btn-default btn-lg button2">@Html.ActionLink("SHOP NOW", "Index", "Products")</button>
        </div>
    </div>
</body>
</html>