<html>
<head>
    <title>Gummi Bear Kingdom</title>
</head>
<body>
    <h2>Welcome to the Gummi Bear Kingdom!</h2>

    <p>@Html.ActionLink("Add a New Product", "Create", "Products")</p>
    <p>@Html.ActionLink("View Products", "Index", "Products")</p>
</body>
</html>