@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Gummi Bear Kingdom</title>
</head>
<body>
    <div><img class="gummy" src="~/images/gummy.jpg">
        <h1 class="title"><span class="welcome">WELCOME TO<br /></span> THE GUMMY BEAR KINGDOM</h1>
    </div>

    <div class="section1">

      </div>

    <div class="container section2">
    <h1>See the Gummy Bear Kingdom's Products.</h1>
        <h3>SWEET. DELICIOUS. AND IRRESISTIBLE. </h3>
    <button class="btn btn-default btn-lg">@Html.ActionLink("View Products", "Index", "Products")</button>
        </div>


    <div class="section3">

    </div>
</body>
</html>